#button
{
    width: 200px;
    height: 100px;
    text-align: center;
    padding: auto;
    margin-top: 50px;
    margin-left: 100px;
}
h1, h2, h3 , h4, h5 , h6 , p {text-align: center;}

.colorGreen
{
    border: 5px solid #1abc9c;
    color: #1abc9c;
}

.bg{
    background-image: url(images/bg.jpg);
}